/* Réinitialisation des marges et hauteurs */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Add padding to body so content doesn’t hide behind navbar */
body {
    padding-top: 70px;  /* Adjust based on navbar height */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #navbar {
        padding: 10px 20px; /* Reduce padding on smaller screens */
    }
}

#navbar {
    position: fixed;  /* Sticks to the top */
    top: 0;
    left: 0;
    width: 100%;  /* Full width */
    z-index: 50;  /* Ensures it's above other content */
}

header{
    padding-top: 200px; 
}

.bg-color {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 134, 0, 1);
}

.text-size-custom {
    font-size: 1.8rem;
    line-height: 1.75rem;
}

.custom-pad {
    margin-right: 60rem;
}


/* Conteneur */
#conteneur {
    position: relative;
}

/* Image de fond */
#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* SVG superposé */
#product-svg {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

/* Partie colorable du SVG */
#product-shape {
    fill: none; /* Rend l'élément SVG invisible */
}


/* Conteneur des boutons */
.button-container {
    margin-top: 20px;
    text-align: center;
}

/* Boutons */
.color-btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.jscolor {
    bottom: 4em;
    right: 4em;
    z-index: 3;
    padding: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    }

.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.orange { background-color: orange; }
.purple { background-color: purple; }


.color-changing-svg path {
    transition: fill 0.5s ease;
    }
