body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

#conteneur {
  position: relative;
}
#product-svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
}
#product-shape {
  fill: #ff7f00;
}
#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
